.card-container{
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: 
        "leaders-area members-area";
    gap: 20px;
} 
.card-container img{
    width: 70px;
}
.card-items{
    padding: 20px;
    color: rgb(234, 245, 240);
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 0.77rem;
    overflow: auto;
}

.card-items{
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-areas: 
        "count icon"
        "total ."
        "approval_required approval_required";
}
h3{
    grid-area: count;
    justify-self: center;
}
img{
    grid-area: icon;
    justify-self: end;
}
.total-label{
    grid-area: total;
    justify-self: center;
}
.required{
    grid-area: approval_required;
    justify-self: center;
}

.members-card{
    background: linear-gradient(#26630e,#685d3b );
    grid-area: members-area;
}
.members-card:hover{
    background: #3C3C3C;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.leaders-card{
    grid-area: leaders-area;
    background: linear-gradient(#194b5f,#454e34);
}
.leaders-card:hover{
    background: #3C3C3C;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.card-data{
    font-size: .9rem;
    line-height: 2rem;
}
