/* Core styles */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --card: linear-gradient(to bottom, rgb(38, 94, 38), rgb(26, 24, 46));
    --gradient: linear-gradient(to right,rgb(29, 95, 29), rgb(26, 24, 46));
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background: var(--light);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #ddd;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}


/* Main section*/
#main{
    margin: 0;
    padding: 0;
}
/* Sliding text section */
/* Add text slider later */
#section-upcoming h4{
    text-align: center;
}
/* End Sliding text section */

/* Message section */
#section-msg{
    padding-bottom: 2rem;
}

#section-msg .msg-wrapper{
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-msg .msg-top{
    font-size: 2rem;
    padding: 0px;
    font-weight: 600;
}
#section-msg .msg-down{
    font-size: smaller;
    font-weight: 500;
    color: #2a2a2a;
    width: 65%;
}
/* End Message section */

/* Side image section */
html.sr .section-side-img{
    visibility: hidden;
}
#section-side-img{
    padding-bottom: 2rem;
}
#section-side-img .img-wrapper img{
    width: 90%;
}
#section-side-img .img-wrapper{
    text-align: center;
}
/* End side image section */

/* Cards section */
#section-cards{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    margin: 4px;
}

#section-cards a {
    background: var(--card);
    padding: 8px;
    box-shadow: var(--shadow);
    border-radius: 4px;
}

#section-cards .cards-header {
    color: var(--light);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.cards{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.cards-container .admin-card{
    background: url('../images/admin-h.svg');
}

.cards-container .member-card{
    background: var(--card) url('../images/member-h.svg');
}
/* End Cards section */

/* Location Section */
#section-location{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#section-location .location{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px 4px auto 0;
    box-shadow: var(--shadow);
    width: 80%;
    padding: 8px;
}
/* End Location Section */

/* About section */
#section-about h2,
#section-about h4{
    text-align: center;
    padding: 5px;
    
}
/* End About section */

/* Info + socials section */
#section-info-socials{
    background:var(--gradient);
    margin: 4px 0 0 0;
    color: var(--light);
}
#section-info-socials .box p{
    font-weight: 600;
    padding: .7rem;
}
#section-info-socials .info{
    text-align: center;
}
#section-info-socials .ftr-socials ul,
.ftr-socials p{
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

/* End Info + socials section  */

/* End Main  */

/* Footer section */
#main-footer{
    margin: 0;
    padding: 0;
    background: var(--gradient);
}
#main-footer .copyright{
    text-align: center;
    font-size: smaller;
    color: var(--light);
    padding: 6px;
}
.ftr-socials ul li a img{
    width: 35px;
}
/* End Footer section */


/* Media Queries */
@media(min-width: 700px){
    .main-nav{
        grid-gap: 10px;
        padding-right: 9rem;
    }
    .main-nav .hlogo{
        justify-self: start;
        padding-left: 3rem;
    }
    .menu{
        justify-self: end;
    }
    .main-nav .menu ul{
        grid-gap: 0;
        grid-template-columns: repeat(4, minmax(2rem, 6rem));
        justify-self: end;
        align-self: center;

    }
    .nav-item a{
        font-size: larger;
        font-weight: bolder;
    }
    .top-section{
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
    }
    .txt-section{
        grid-area: txt;
    }
    #section-side-img{
        width: 50%;
    }
    #section-side-img .img-wrapper{
        height: 95%;
        margin: 8px auto;
    }
    #section-side-img .img-wrapper img{
        width: 100%;
        height: 100%;
    }
    /* Cards */
    #cards-about{
        padding-top: 6rem;
    }
    #section-cards{
        padding: 2rem;
    }
    #section-cards a{
        padding: 1rem;
        margin: 2px;
    }
    #section-cards .cards-header{
        display: grid;
        align-items: end;
        padding: 2rem;
    }
    /* Section about */
    #section-about {
        text-align: center;
    }
    /* Location */
    #section-location{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    #section-location .location{
        width: 40%;
        justify-self: center;
        padding: 0.1rem;
    }
    /* Info + Socials */
    #section-info-socials{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "info socials";
    }
    #section-info-socials .info{
        grid-area: info;
        padding: 1rem;
    }
    
    #section-info-socials .ftr-socials{
        grid-area: socials;
        padding-top: 2rem;
    }
    #section-info-socials .ftr-socials p{
        padding-bottom: .5rem;
    }
}
@media(min-width: 810px){
    .main-nav .hlogo img{
        width: 45px;
        border-radius: 50%;
        padding: 5px;
        border: 2px solid #0c570c;
    }
    #cards-about{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-areas: 
        "cards cards cards about"
        "cards cards cards about";
    }
    #section-cards{
        grid-area: cards;
        padding-right: 3rem;
    }
    #section-about{
        grid-area: about;
        justify-content: center;
        padding: 1.6rem;
    }
    #section-about h2{
        font-size: 1rem;
    }
}