{% load static %}
<footer>
    <div class="div1">
        <a href="">
            <p>
                <img src="https://www.natwest.com/content/dam/natwest_com/navigation/footer/Help.svg" alt="">
                <span>Support Centre</span>
            </p>
        </a>
        <a href="">
            <p>
                <img src="https://www.natwest.com/content/dam/natwest_com/navigation/footer/Location.svg" alt="">
                <span>Find a Branch</span>
            </p>
        </a>
        <a href="">
            <p>
                <img role="presentation" src="https://www.natwest.com/content/dam/natwest/personal/homepage/nw-pers-mob-icon-white-trans-new-sept.svg" alt="">
                <span>Download the app</span>
            </p>
        </a>
    </div>
    <hr>
    <div class="products">
        <h4>Products</h4>
        <p><a href="">Bank accounts</a></p>
        <p><a href="">Savings</a></p>
        <p><a href="">Investments</a></p>
        <p><a href="">Credit cards</a></p>
        <p><a href="">Loans</a></p>
        <p><a href="">Overdrafts</a></p>
        <p><a href="">Mortgages</a></p>
        <p><a href="">Insurance</a></p>
        <p><a href="">Reward accounts and cards</a></p>
    </div>
    <div class="life-moments">
        <h4>Life Moments</h4>
        <p><a href="">View all Life moments</a></p>
        <p><a href="">Managing your money</a></p>
        <p><a href="">Struggling financially</a></p>
        <p><a href="">Bereavement</a></p>
        <p><a href="">Financial Health Check</a></p>
        <p><a href="">First time buyer guide</a></p>
        <p><a href="">Travel Guide</a></p>
        <p><a href="">Financial abuse</a></p>
    </div>
    <div class="help-and-support">
        <h4>Help and Support</h4>
        <p><a href="">Support</a></p>
        <p><a href="">Security</a></p>
        <p><a href="">Service status</a></p>
        <p><a href="">NatWest app</a></p>
        <p><a href="">Online Banking</a></p>
        <p><a href="">Banking With Natwest</a></p>
        <p><a href="">Climate Change Hub</a></p>
        <p><a href="">Learning with NatWest</a></p>
        <p><a href="">Detecting and preventing financial crime</a></p>
    </div>
    <hr>
    <div class="cookies">
        <ul>
            <li>Privacy & Cookies</li>
            <li>Website T&Cs & FSCS</li>
            <li>Accessibility</li>
            <li>Careers</li>
            <li>Site Map</li>
            <li>Modern Slavery Act</li>
        </ul>
    </div>
    <div class="footer-social-icon">
        <div class="">
            <ul> 
                <li> 
                    <a href="https://www.facebook.com/NatWest"> 
                        <i class="fa fa-facebook"></i> 
                    </a> 
                </li> 
                <li> 
                    <a href="https://twitter.com/NatWest_Help"> 
                        <i class="fa fa-twitter"></i>
                    </a> 
                </li> 
                <li> 
                    <a href="https://www.natwestgroup.com/our-brands/natwest.html"> 
                        <i class="fa fa-rssicon"></i>
                     </a> 
                </li> 
                <li> 
                    <a href="https://www.linkedin.com/company/natwest"> 
                        <i class="fa fa-linkedin"></i>
                    </a> 
                </li> 
            </ul>
        </div>
        <div class="">
            <a href="/content/dam/natwest/business/current-accounts/documents/FSCS_leaflet.pdf" class="fcfs"><img src="{% static 'images/fscs.png' %}" alt="fcfs"></a>
            <div class="">
                <a style="color: #FFFFFF" href="https://www.fscs.org.uk/" target="_blank" title="fscs" aria-label=">FSCS.org.uk"> 
                    <span class="cta-text">FSCS.org.uk</span> 
                </a>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <span>Copyright </span>&copy;<span id="copyright"></span> 
        National Westminster Bank plc 2022. <br>
        Registered office: 250 Bishopgate, London, EC2M <br>
        4AA
    </div>
</footer>