:root {
    --primary: #42145f;
}
form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
form label {
    display: block;
    margin-bottom: -24px;
    font-weight: 600;
    margin-left: 11px;
}
form input {
    width: 81%;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #c4c4c4;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
    padding-left: 30px;
    margin: 2rem 11px;
}


form input:focus{
    border: 2px solid var(--primary);
}
/* Submit section */
form #btn {
    margin-top: 15px;
    width: 89%;
    height: 45px;
    background:  var(--primary);
    border: 2px solid  var(--primary);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    margin-left: 11px;
}
#btn:hover{
    opacity: 0.8;
}