.pending-card {
    display: none;
    margin-top: 2rem;
    background: var(--text-white);
    color: #5c5858;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 15px;
    text-align: center;
}

.amnt-details {
    font-weight: 600;
    color: #000;
}
.popup {
    display: none;
    justify-content: space-evenly;
    width: 300px;
    background: var(--text-white);
    color: var(--primary);
    padding: 2rem 1rem;
    opacity: 1;
    transition: opacity 1s;
    transform: translateX(1rem) translatey(3rem);
}
#close, 
#ok {
    height: 25px;
}
#close {
    color: var(--text-black1);
    position: relative;
    top: -1.7rem;
    right: -17.2rem;
    border: none;
    font-size: 21px;
}
.popup .popup-text {
    display: grid;
    gap: 6px;
    width: 100%;
}
#processing {
    font-weight: 600;
}
#customer-care {
    color: #000;
}
#ok {
    position: relative;
    bottom: -3.8rem;
    background: green;
    border: none;
    color: #fff;
    font-weight: 600;
}