{% extends "records_management/base-login.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block loginform %}

  <div class="container-main py-16">
    <div class="content">
        <div class="image"></div>
        <div class="text">
            Contact the church management to<br>
            get admin credentials!
        </div>
    </div>
    <form id="form" method="post" action="{% url 'adminlogin' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="social">
          <div class="title">Admin Login</div>
          <div class="question">
              Don't Have an Account?<br>
              <span>Contact Management</span>
          </div>
          

      </div>
      <!-- Username Section -->
      <div>
          <label for="{{ form.username.id_for_label }}">User Name</label>
          <i class="fas fa-user"></i>

          <input 
          id="{{form.username.id_for_label}}" type="text" 
          name="username" placeholder="enter username"
          autofocus
          autocapitalize="none"
          autocomplete="username"
          >

          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>

          <!-- Inject errors from Js into this tag -->
          <div class="error"></div>
      </div>

    

      <!-- Password Section -->
      <div>
          <label class="" for="{{form.password.id_for_label}}">Password</label>
          <i class="fas fa-lock"></i>

          <input type="password" 
          name="{{form.password.name}}" 
          id="{{form.password.id_for_label}}" 
          autofocus
          autocapitalize="none"
          autocomplete="current-password"
          required
          placeholder="Password here"
          >
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>

          <!-- Inject errors from Js into this tag -->
          <div class="error"></div>
          <div class="flex items-center">
            <input class="w-4" type="checkbox" name="showPassword" 
            id="showPassword" 
            >
            <span id="toggleText" class="pl-1">show password</span>
          </div>

      </div>

      <button id="btn" type="submit">Submit</button>
    </form>
  </div>
{% endblock loginform %}


