{% extends 'records_management/base-admin-view.html' %}
{% block title %}
g    <title>Admin View Leaders | Bible Way Baptist Church</title>
{% endblock title %}


<!-- List Leaders -->
{% block view-user-type %}
    <div class="flex items-center justify-center p-4 md:p-3 rounded-lg shadow bg-gray-800">
        <a class="p-6 text-center" href="{% url 'admin-list-leaders' %}">
            <p class="text-lg font-semibold text-gray-200">View Leaders</p>
        </a>
    </div>
{% endblock view-user-type %}

<!-- Add Leader -->
{% block add-user-type %}
    <div class="flex items-center justify-center p-4 md:p-3 rounded-lg shadow bg-gray-800">
        <a class="p-6 text-center" href="{% url 'admin-add-leader' %}">
            <p class="text-lg font-semibold text-gray-200">Add Leaders</p>
        </a>
    </div>
{% endblock add-user-type %}

<!-- Approve Leader -->
{% block approve-user-type %}
    <div class="flex items-center justify-center p-4 md:p-3 rounded-lg shadow bg-gray-800">
        <a class="p-6 text-center" href="{% url 'pending-leader' %}">
            <p class="text-lg font-semibold text-gray-200">Approve Leaders</p>
        </a>
    </div>
{% endblock approve-user-type %}