{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'records_management/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'records_management/leadersignup.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">

  <title>Member SignUp | Bible Way Baptist Church</title>
</head>
<body style="font-family: 'Lexend Deca', sans-serif;">
  <nav class="py-4 main-nav" style="font-family: sans-serif;">
    {% include 'records_management/navbar.html' %}
  </nav>
  <main>
    <div class="flex flex-col justify-center items-center p-4">
      <span class="text-gray-600 font-bold text-xl text-center p-8">Church Member SignUp</span>
      <div class="rounded-lg border-solid box-border border-blue-700">
        <form class="flex flex-col text-gray-800 bg-gray-300 rounded-xl shadow-xl p-2" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="p-2 grid grid-cols-2 gap-3 placeholder-gray-900">
            <div class="p-2 rounded-xl focus:border-blue-800 placeholder-gray-900" aria-placeholder="First name">{{ userForm.first_name|as_crispy_field }}</div>
            <div class="p-2 rounded-xl">{{userForm.last_name|as_crispy_field}}</div>

            <!-- Username -->
            <div>
              <label for="{{userForm.username.id_for_label}}">
                {{userForm.username.label}}
              </label>
              <input 
                class="text-black" name="{{userForm.username.name}}" id="{{userForm.username.id_for_label}}"  
                type="text" placeholder="Enter username" autocomplete="name"
              >
            </div>

            <div class="p-2 rounded-xl">{{userForm.password}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.profile_pic|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.member_role|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.gender|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.date_of_birth|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.marital_status|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.date_of_baptism|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.mobile|as_crispy_field}}</div>
            <div class="p-2 rounded-xl">{{churchmemberForm.emergency_contact|as_crispy_field}}</div>
          </div>
          <div class="p-2">
            <div class="p-2 w-3/5">
              {{churchmemberForm.name_of_father|as_crispy_field}}
            </div>
            <div class="p-2 w-3/5">
              {{churchmemberForm.name_of_mother|as_crispy_field}}
            </div>
          </div>
          <div class="p-2 grid grid-cols-2 gap-3">
            <div class="p-2">{{churchmemberForm.hometown}}</div>
            <div class="p-2">{{churchmemberForm.region}}</div>
          </div>
          <div class="p-2 rounded-xl ">{{churchmemberForm.residential_address}}</div>
          <div class="bg-blue-600 shadow-xl text-gray-50 rounded-lg w-20 ml-1">
            <button type="submit" class="p-2 text-center font-extrabold" >Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>


</body>

</html>