{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'records_management/home.css' %}">
    <link rel="stylesheet" href="{% static 'records_management/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'records_management/footer.css' %}">
    <link rel="stylesheet" href="{% static 'records_management/horizontal-scrolling-text.css' %}">
    
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <title>Bible Way Baptist Church | Home</title>
</head>

<body class="bg-gray-200">
    <nav class="main-nav">
        {% include 'records_management/navbar.html' %}
    </nav>
    <main id="main">
        <div class="top-section">
            <!-- Sliding Upcoming events section -->
            <div class="txt-section">
                <section id="section-upcoming" class="grid">
                    <div class="upcoming-event">
                        <h4>Upcoming Events: Sunday service</h4>
                    </div>
                </section>
                <!-- Christian message section -->
                <section id="section-msg" class="grid">
                    <div class="msg-wrapper">
                        <p class="msg msg-top">The World Looks<br> 
                        Different, But We Still<br> 
                        Worship the Same God<br></p>
                        <p class="msg msg-down">Join us in worship, praise and spiritual elevation. Our mission is to spread the good news to all corners of the earth, & help save souls. Come let's fellowship together</p>
                    </div>
                </section>
            </div>
            <!-- Side image section -->
            <section class="section-side-img" id="section-side-img">
                <img src="{% static 'images/bible.jpg' %}" class="d-block w-100" alt="baptist way sliding images">        
            </section>
        </div>
        <div id="cards-about">
            <!-- User access cards section -->
            <section id="section-cards" class="grid">
                <a href="{% url 'adminlogin' %}">
                    <div class="admin-card cards"></div>
                    <div class="cards-container">
                        <div class="cards-header">   
                            <p>Admin</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'exec-click' %}">
                    <div class="cards-container">
                        <div class="executive-card cards"></div>
                        <div class="cards-header">
                            <p>Executive</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'member-signup' %}">
                    <div class="cards-container">
                        <div class="member-card cards"></div>
                        <div class="cards-header">
                            <p>Member</p>
                        </div>
                    </div>
                </a>
            </section>
            <!-- About section -->
            <section id="section-about" class="grid">
                <h4>About</h4>
                <h2>We are a fast growing body of christ, headed by Pstr. Kwame Anane, with the sole purpose of transfoming lives with amazing Word of God.</h2>
            </section>
        </div>
        <!-- Location section -->
        <section id="section-location" class="grid">
            <div class="location">
                <div style="overflow:hidden;max-width:100%;width:600px;height:500px;"><div id="embeddedmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=bible+way+baptist+church,+kumasi&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embeddedmap-code" rel="nofollow" href="https://www.embed-map.com" id="enable-mapdata">https://www.embed-map.com</a><style>#embeddedmap-display .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;}</style></div>
            </div>
        </section>
        <!-- Info + Socials section -->
        <section id="section-info-socials" class="grid">
            <div class="info box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente eum fugit ipsa. Quos atque repudiandae quo aliquam, unde alias consectetur sunt! Magnam, facilis?</p>
            </div>
            <div class="ftr-socials box">
                <p>Interact with us</p>
                <ul>
                    <li> 
                        <a href="#"><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp | bible way baptist church"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/instagram.svg' %}" alt="instagram | bible way baptist church" style="width: 40px;"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/facebook.svg' %}" alt="facebook | bible way baptist church"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/twitter.svg' %}" alt="twitter | bible way baptist church"></a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="main-footer">
        {% include 'records_management/footer.html' %}
    </footer>
    
    <script src="{% static 'js/scroll-to-reveal.js' %}"></script>
    <script src="{% static 'js/active-link.js' %}"></script>
</body>
</html>