{% extends 'records_management/base_pending_approvals.html' %}
{% block title %}
    <title>Pending Member Approvals | Bible Way Baptist Church</title>
{% endblock title %}

{% block pending-header %}
    <h4 class="p-8 text-center font-bold text-base text-gray-800">Pending Member Approvals</h4>
{% endblock pending-header %}


<!-- Table body -->
{% block user-type-pending %}
    {% for member in members_pending %}
        <tr class="text-gray-300">
            <td class="px-2 py-3">
                <div class="flex items-center text-sm">
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                        <img class="object-cover w-full h-full rounded-full" src="{{member.profile_pic.url}}"
                            alt="profile">
                        <div class="absolutute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                        <p class="font-semibold">{{member.get_name}}</p>
                        <p class="text-xs text-gray-400">{{member.member_role}}</p>
                    </div>
                </div>
            </td>
            <td class="px-1 py-3 text-sm">
                <span class="px-2 py-1 font-semibold leading-tight text-gray-400">
                    {{member.mobile}}
                </span>
            </td>
            <td class="px-3 py-3 text-sm">{{member.residential_address}}</td>
            {% if not member.status %}
            <td class="px-3 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-100 bg-yellow-500 rounded-full">Pending</span>
            </td>
            {% endif %}
            <!-- Action -->
            <td class="px-3 py-3 text-xs font-semibold">
                <div class="flex items-center">
                    <a href="{% url 'approve-member' member.id %}"><button class="mr-2 px-2 py-1 text-blue-100 bg-blue-600 rounded-full">Approve</button></a>
                    <a href="#" class="mr-2 px-2 py-1 text-green-100 bg-green-600 rounded-full">Modify</a>
                    <a href="{% url 'reject-member' member.id %}"><button class="px-2 py-1 text-red-100 bg-red-700 rounded-full">Reject</button></a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock user-type-pending %}
