{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results | NWBC</title>
</head>
<body>
    <center>
        {% if searched %}
            <h1>You entered {{ searched }}</h1>
            <br>
            {% for member in members %}
                <a href="{% url 'show-member' %}">
                    {{ member.member_role|default:"Enter a valid Query" }}
                </a>
                <br>
            {% endfor %}
        {% else %}
            <h1>Please enter a valid request!</h1>
        {% endif %}
    </center>
</body>
</html>